*, *::after, *::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #193549;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  // 400, 700, 900
}
img {
  max-width: 100%;
}
.resume-container {
  background-color: #FFFFFF;
  max-width: 900px;
  margin: 0 auto;
  display: block;
  @media(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  .left-sidebar {
    flex: 1;
    background-color: #F4F4F4;
    color: #444441;
    padding: 60px 45px;
    @media(min-width: 768px) {
      margin-right: 45px;
    }
    img {
      max-width: 200px;
      margin: 0 auto 60px;
      display: block;
      border-radius: 50%;
    }
    .heading {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.4em;
      padding: 10px 5px;
      border-radius: 25px;
      color: #FFFFFF;
      background-color: #444440;
      text-align: center;
      margin: 40px 0 20px;
    }
    .contact {
      font-style: normal;
      font-size: 1em;
      line-height: 1.7;
      margin: 0 0 15px;
      i {
        color: #444441;
      }
    }
    .course {
      font-size: 1.2em;
      font-weight: 900;
      margin-bottom: 5px;
    }
    .timeline {
      margin: 0 0 30px;
    }
    ul.skills {
      padding: 0;
      li {
        line-height: 3;
      }
    }
  }
  .main-body {
    padding: 60px 30px;
    flex: 2;
    color: #4C4D4F;
    background-color: #FFFFFF;
    h1{
      font-size: 3.5em;
      font-weight: 400;
      color: #333132;
      margin: 30px 0 0;
      .w900 {
        font-weight: 900;
      }
    }
    .designation {
      margin: 0 0 80px;
      font-size: 1.5em;
      letter-spacing: 2px;
    }
    h2.secondary {
      text-transform: uppercase;
      color: #322D2E;
      font-size: 1.5em;
      font-weight: 900;
      i {
        font-size: 1.7em;
      }
    }
    .job-info {
      margin-top: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #E9EBEC;
      padding: 4px 7px;
      border: 1px solid #d2d3d4;
      border-radius: 4px;
      p {
        font-size: 1.1em;
        color: #4C4D4F;
        margin: 0;
      }
    }
    h3 {
      color: #3D3D3E;
      font-weight: 900;
    }
    p.job-detail {
      line-height: 1.7;
      font-size: 1em;
    }
    .ref {
      display: block;
      @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
      .col {
        background-color: #DEE1E6;
        padding: 20px;
        border: 1px solid #ebf0f7;
        p {
          font-size: 0.9em;
        }
      }
    }
  }
}
